.site-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.25rem;
    
    div {
        width: 1100px;

        i {
            height: 1rem;
            width: auto;
        }
    
        span {
            font-weight: $font-weight-medium;
        }
    }
    


}


.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.75rem;

    .container {
        width: 1110px;

        h2 {
            font-weight: $font-weight-bold;
            font-size: 1.125rem;
            margin-bottom: 1.5rem;
        }

        form {
            font-size: 0.8rem;

            @include md {
                font-size: 1rem;
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(2, minmax(100px, 550px));
                grid-template-rows: repeat(2, auto);
                margin-bottom: 4rem;
                column-gap: 1rem;

                .contactUsName {
                    grid-column: 1 / -1;
                }
                .contactUsEmail {
                    grid-column: 1 / -1;
                }
                .contactUsComments {
                    grid-column: 1 / -1;
                    height: 140px;
                }

                @include md {
                    column-gap: 2rem;
                    .contactUsName {
                        grid-column: 1 / 2;
                    }
                    .contactUsEmail {
                        grid-column: 2 / -1;
                    }
                    .contactUsComments {
                        grid-column: 1 / -1;
                        height: 140px;
                    }
                }

                > div {

                    label {
                        display: none;
                    }
                    
                    input,
                    textarea {
                        padding: 1rem;
                        height: 50px;
                        width: 100%;
                        border: 2px solid #C6C6C6;
                        color: $color-dark;

                        &:focus {
                            outline: 0;
                            border: 2px solid rgba(0, 0, 0, 0.5);
                            box-shadow: 0 0 2px 0 black;
                        }
                    }

                    .errorMessage {
                        padding-top: 0.2rem;
                        color: $color-theme;
                    }

                    .error {
                        border: none;
                        outline: 0;
                        border: 2px solid rgba(255, 115, 115, 0.5);
                        box-shadow: 0 0 2px 0 $color-theme;
                        color: $color-theme;

                        &:focus {
                            outline: 0;
                            border: 2px solid rgba(255, 115, 115, 0.5);
                            box-shadow: 0 0 5px 0 $color-theme;
                        }
                    }

                    #contactUsComments {
                        display: block;
                        height: 100%;
                        width: 100%;
                        resize: none;
                    }

                    > div {
                        height: 3rem;
                    }
                }
            }

            button {
                height: 50px;
                width: 100%;

                @include lg {
                    width: 207px;
                }
            }
        }
    }
}