.new-arrivals {
    display: flex;
    height: 35rem;

    .clearance {
        display: flex;
        justify-content: flex-end;
        width: 62%;
        background-color: $color-silver;

        img {
            height: 100%;
        }
    }

    .arrivals-window {
        display: flex;
        justify-content: flex-end;
        width: 38%;
        background-color: $color-gray-20;

        img {
            height: 100%;
        }
    }
}