.product-lists {
    width: 1110px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: grid;
    justify-items: center;
    grid-template-columns: none;
    gap: 2rem;

    @include md {
        grid-template-columns: 1fr 1fr;
    }

    @include xl {
        gap: 0;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .product-list {
        display: grid;
        gap: 30px;
        
        > h1 {
            font-size: $font-size-20;
            font-weight: $font-weight-bold;
        }

        .__col {
            width: 350px;
            max-height: 132px;
            padding: 0;
            
            .__card {
                display: flex;
                gap: 15px;
                position: relative;
                border-radius: 0;
                border: none;
        
                .__card-top {
                    position: relative;
                    background-color: $color-gray-8;
                    width: 160px;
                    height: 132px;
                    transition: all 0.3s ease-in-out;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
        
                    .card-menu {
                        position: absolute;
                        display: flex;
                        justify-content: space-evenly;
                        width: 100%;
                        list-style: none;
                        text-align: center;
                        z-index: 2;
                        padding: 0;
                        transition: left 0.3s ease-in-out;
        
                        > button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0.6rem 0;
                            height: 2.25rem;
                            width: 2.25rem;
                            background-color: $color-white;
                            border-radius: $border-radius-rounded;
                            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                            border: none;
                            box-shadow: 0 1px 8px rgb(0, 0, 0);
                        }
                    }
        
                    .btn-card {
                        position: absolute;
                        z-index: 3;
                        top: 100%;
                        width: 100%;
                        height: 50px;
                        font-size: 0.875rem;
                        font-weight: $font-weight-regular;
                    }
        
                }
        
                .__card-body {
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0;
                    max-width: 175px;
        
                    h5 {
                        color: $color-gray-60;
                        font-weight: $font-weight-medium;
                        font-size: 0.81rem;
                    }
        
                    h3 {
                        margin-top: 0.5rem;
                        font-weight: $font-weight-semibold;
                        font-size: 1rem;
                    }
        
                    .product-rating {
                        display: flex;
                        justify-content: center;
        
                        > i {
                            margin: 0 0.15rem;
                            color: $color-theme;
                            height: 1.125rem;
                            width: auto;
        
                            &:first-child {
                                margin-left: 0;
                            }
        
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
        
                    .card-price {
                        margin-top: 0.3rem;
        
                        .card-discount-price {
                            font-weight: $font-weight-semibold;
                            font-size: 1.125rem;
                        }
                    }
                }
            }  
        }
    }
}

//This css is only enabled on devices that can use hover, example computer with mouse that hovers over an element. Doesnt work on ex mobile
@media (hover: hover) {
    .product-list {
        .__col:hover {

            .__card {

                .__card-top {
                    background-color: $color-gray-40;

                    .card-menu {
                        transition: left 0.3s ease-in-out 0.2s;
                        left: 0;
                        
                    }

                    .btn-card {
                        top: calc(100% - 50px);
                    }
                }
            }
        }

        .__col {
            .__card {
                .__card-top {
                    overflow: hidden;
                    .btn-card {
                        top: 100%;
                    }
                    
                    .card-menu {
                        left: -100%;
                        > button:hover {
                            color: $color-white;
                            background-color: $color-dark;
                        }
                    }
                }
            }
        }
    }
}

//This css is only enabled on devices with no hover functionality ex mobile, tablet touch, touch screen etc
@media (hover: none) {
    .product-list {
        .__col {
            margin-bottom: 50px;
            .__card {
                .__card-top {
                    overflow: visible;
                    .btn-card {
                        top: 100%;
                    }
                    .card-menu {
                        left: 0;
                    }
                }
            }
        }
    }
}