.showcase {
    background: rgb(231,231,231);
    background: $color-gradient-gray-10;
    margin-bottom: 4rem;

    .container {
        padding-top: 1.5rem;

        .showcase-body {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            @include lg {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;
            }

            > img {
                max-width: 100%;
                display: none;

                @include lg {
                    display: flex;
                }
            }

            > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;

                h1 {
                    font-weight: $font-weight-extrabold;
                    font-size: $font-size-60;
                }

                p {
                    padding: 1.5rem 0;
                    font-size: $font-size-20;
                }
            }
        }
    }
}