.special-deal {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    
    > div {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        .flash-sale {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: $color-gray-50;
            margin: 0;
            color: $color-white;
            aspect-ratio: 1 / 1;
        }
    }
}