.top-picks {
    margin-top: 4rem;
    display: grid;
    gap: 1.5%;
    height: 100%;
    justify-items: center;

    @include sm {
        justify-items: normal;
        height: 404px;
        grid-template-columns: 1fr 1fr;
    }

    .box-left,
    .box-right {
        position: relative;
        display: flex;
        align-items: flex-end;
        height: 254px;
        aspect-ratio: 1 / 1;

        @include md {
            height: 310px;
            aspect-ratio: 0 / 0;
        }

        @include lg {
            height: 100%;
            align-items: center;
        }

        > img {
            display: none;
            position: absolute;
            z-index: 1;

            @include lg {
                display: flex;
            }
        }
        
        > div {
            z-index: 2;
            max-width: 336px;
            
            h1 {
                font-size: 1.5rem;
                color: $color-white;
                font-weight: $font-weight-bold;

                @include md {
                    font-size: 2.3rem;
                }

                @include lg {
                    font-size: 2.81rem;
                }
            }

            .btn-card {
                margin-top: 2rem;
                margin-bottom: 2rem;
                width: 100%;

                @include md {
                    margin-left: 0;
                    width: 188px;
                }
            }
        }
    }

    .box-left {
        background-color: $color-brown;
        justify-content: flex-end;

        > img {
            left: 0;
        }

        > div {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    .box-right {
        background-color: $color-gray-45;
        justify-content: flex-start;

        > img {
            right: 0;
        }

        > div {
            margin-left: 1rem;
            margin-right: 1rem;

            > h1 {
                color: $color-dark;
            }
        }
    }
}