.breadcrumb {
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.25rem;

    @include lg {
        display: flex;
    }

    .container {
        width: 1100px;

        > ul {
            display: flex;
            align-items: center;
            margin: 0;
            list-style: none;
            padding-left: 0;

            .currentPage {
                color: $color-theme;
            }

            li+li:before {
                padding: 0 0.3rem 0 0.3rem;
                content: ">";
                color: $color-dark;
            }
            
            > li {
                font-weight: $font-weight-medium;

                i {
                    height: 1rem;
                    width: auto;
                }
            }
        }
    }
}